// $bg-color: #000;
$bg-color: #111111;
// $bg-color: #161619;
$text-color: #eee;
$primary-color: rgba(143, 10, 55, 0.849); // 8F0A37
// $highlight-color: #823eb9;

// $bg-color: #090c10;
// $highlight-color: #21262d;

/*
$bg-color: #1a1a1d;
$text-color: #eeeeee;
$mute-color: #4e4e50;
$primary-color: #c3073f;
$navbar-color: #950740;
$card-bg-color: #6f2232;
*/

/*
$bg-color: #e3e2df;
$text-color: #ee4c7c;
$mute-color: #444444;
$primary-color: #9a1750;
$navbar-color: #5d001e;
$card-bg-color: #e3afbc;
*/

/*
$bg-color: #0b0c10;
$text-color: #eeeeee;
$mute-color: #c3c6c7;
$primary-color: #66fcfa;
$navbar-color: #45a29e; // or $secondary-color? (a darker of primary)
$card-bg-color: #1f2833;
*/
